body {
  font-size: calc(1rem + 1vw);
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  height: 10vw;
  width: 50vw;
}

input[type="submit"] {
  height: 10vw;
  width: 20vw;
}
